{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyContent %}
<div class="main wrapper clearfix">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
            <td>{{ form.username.label }}</td><td> {{ form.username }}</td></tr>
            <tr><td>{{ form.email.label }}</td><td> {{ form.email }}</td></tr>
            <tr><td>{{ form.password.label }}</td><td> {{ form.password }}</td></tr>
            <tr><td>{{ form.confirm_password.label }}</td><td> {{ form.confirm_password }}</td></tr>
            <tr><td><button type="submit">{{ form.submit.label }}</button></td>
        </table>
    </form>
    <h4><a href="{{url_for('login')}}">Already have an account? Click here to Sign In</a></h4>
</div>
{% endblock %}